<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Driver Championship</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <h1 style="margin-left: 310px; margin-top: 30px;">Championship Standing for 2025 Season:</h1>
    {% for standing in current_standing %}
        <div class="card" style="width: 18rem; margin-top: 30px; margin-left: 500px;">
            <div class="card-body">
                <h5 class="card-title">{{ standing.driverId.upper() }}</h5>
                <h6 class="card-title">Position: {{ standing.position }}</h6>
                <h6 class="card-title">Points: {{ standing.points }}</h6>
                <h6 class="card-title">Wins: {{ standing.wins }}</h6>
                <h6 class="card-title">Team Name: {{ standing.teamId.upper() }}</h6>
            </div>
        </div>
    {% endfor %}
</body>
</html>